<div class="boomBox">

    <div class="speakerLeft speakerBoom speaker" id = "speaker-Left" ></div>

    <div class="seekplayer">
        <div id="screen">
            <div id="content_scroller">
                <div id="playlist_status">song_info </div>
            </div>
            <div id="timebox">
                <span id="curtimetext">00:00</span> / <span id="durtimetext">00:00</span>
            </div>
        </div>
        <input type="range" id="seekslider" min="0" max="100" value="0" onchange = 'seekSong()' >
    </div>

    <div class="controls">
        <div class="button review" id="review"></div>
        <div class="button cue" id="cue"></div>
        <div class="buttonPressed play" id="playbtn"></div>
        <div class="button pause" id="pausebtn"></div>
    </div>

    <div class="volume">
        <input id="volumeslider" type="range" min='0' max='100' value="100" step="10" orient='vertical'>
        <div class="mute" id="mutebtn"></div>
    </div>

    <div class="speakerRight speakerBoom speaker" id = "speaker-Right" ></div>

</div>
